﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>VNExpress</title>
    <link href="~/Content/CSS/myCss.css" rel="stylesheet" />
</head>
<body>
    <div class="top-bar">
        <div class="main-bar">
            <div class="info-left">
                <a>0123.123.123 (HN)</a>
                <a>0999.888.666 (TP.HCM)</a>
                <a>| Liên hệ quảng cáo |</a>
                <button>Like</button>
                <button>Follow</button>
                <button>Youtube</button>
            </div>
            <div class="login-right">
                <button>Đăng kí</button>
                <button>Đăng nhập</button>
                <input placeholder="Tìm kiếm" />
            </div>
        </div>
    </div>

    <div>
        <div class="div2">
            <div class="qc1">
                <img src="~/Content/Images/Logo_Vnexpress.png" alt="" title="Logo VNExpress" />
            </div>
            <div class="qc2">
                <img src="~/Content/Images/banner-ads-1.png" alt="" title="QC1" />
            </div>
            <div class="qc3">
                <img src="~/Content/Images/banner-ads-2.png" alt="" title="QC2" />
            </div>
        </div>

        <div class="btn">
            <button class="button">Thời sự</button>
            <button class="button">Thế giới</button>
            <button class="button">Kinh doanh</button>
            <button class="button">Giải trí</button>
            <button class="button">Thể thao</button>
            <button class="button">Pháp luật</button>
            <button class="button">Giáo dục</button>
            <button class="button">Sức khoẻ</button>
            <button class="button">Gia đình</button>
            <button class="button">Du lịch</button>
            <button class="button">Khoa học</button>
            <button class="button">Số hoá</button>
            <button class="button">Xe</button>
            <button class="button">Cộng đồng</button>
            <button class="button">Tâm sự</button>
            <button class="button">Video</button>
            <button class="button">Cười</button>
            <button class="button">Rao vặt</button>
        </div>
        <div class="mainContent">
            <div class="noiDungBenTrai">
                <section class="mid_content">
                    <h3 class="header">Trang nhất</h3>
                    <div id="ve"></div>
                    <hr />
                    <img style="margin-right: 50" id="thumnails" src="~/Content/Images/thumnails.png" alt="thumnails" />
                    <p class="header_of_mid_content">Trump và Clinton đối đầu nảy lửa trong tranh luận trực tiếp đầu tiên <button id="blive">LIVE</button><button class="bcamera"></button><button id="bcmt">80</button></p>
                    <p class="content_of_mid_content">Hai ứng viên chạy đua chức tổng thống Mỹ Clinton và Trump tranh cãi nảy lửa trong hàng loạt vấn đề từ nhà đất, thương mại, đến cuộc chiến chống khủng bố...</p>
                    <ul>
                        <li>Túi tiền tranh cử bà Clinton nặng gấp đôi tỷ phú Trump</li>
                    </ul>
                </section>

                <section class="right_content">
                    <p class="EL">English</p>
                    <hr />
                    <p class="content_of_right_content">Đài loan đóng cửa trường học vì bão Megi</p>
                    <p class="content_of_right_content">Những đứa trẻ sống vắt vẻo trên dầm cầu đã có chốn dung thân <button class="bcamera"></button></p>
                    <p class="content_of_right_content">Tại sao các đôi hoàn hảo vẫn ly dị</p>
                    <p class="content_of_right_content">Ssangyong Korando - crossover giá một tỷ tại Việt Nam</p>
                    <p class="content_of_right_content">Lỗ hổng iOS 10 giúp hacker giải mã bản sao lưu dễ dàng</p>
                    <hr />
                    <div class="right_below_content">
                        <p class="GN">Góc nhìn</p>
                        <p class="header_of_right_below_content">'Thất thủ' trước cơn mưa</p>
                        <img id="" src="" alt="" />
                    </div>
                    <p class="content_of_right_below_content">Hàng triệu người bất lực trước một cơn mưa, hay còn bởi điều gì khác?</p>
                </section>

            </div>

            <div class="ad2">
                <div class="datetime">
                    <p>Thứ 3, 27/09/2016 | 9:15 GMT+7 | 24h qua | RSS</p>
                </div>
                <br />
                <div class="adright">
                    <img src="~/Content/Images/right-ads-1.png" alt="" title="Right ad 1" />
                    <hr />
                </div>
                <div class="adright">
                    <img src="~/Content/Images/right-ads-2.png" alt="" title="Right ad2" />
                    <hr />
                </div>
                <div class="adright">
                    <img src="~/Content/Images/right-ads-3.png" alt="" title="Right ad3" />
                    <hr />
                </div>
            </div>

        </div>
</body>
</html>
